@model RolesDeUsuarioActividad2.Models.ViewModels.AlumnoViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_Layout"; }
<main>
    <section id="datos">
        <h1>Editar alumno</h1>
        @if (User.IsInRole("Director"))
        {
<form method="post" action="~/Home/EditarAlumno">
    <input type="hidden" asp-for="Alumno.Id" />
    <br />
    <label id="labels">Maestro a cargo del grupo:</label>
    <input id="txtdisplay" type="text" asp-for="Maestro.Nombre" readonly />
    <br />
    <label id="labels">Número de control del maestro:</label>
    <input id="txtdisplay" type="number" asp-for="Maestro.NumControl" readonly />
    <br />
    <label id="labels">Número de control:</label>
    <input id="txtdisplay" type="text" asp-for="Alumno.NumControl" required readonly />
    <br />
    <label id="editar">Nombre completo:</label>
    <input type="text" asp-for="Alumno.Nombre" required />
    <br />
    @Html.ValidationSummary()
    <input type="submit" value="Modificar" />
    <a href="~/Home/ListaDeAlumnos/@(Model.Maestro.Id)">Cancelar</a>
</form> }
            else if (User.IsInRole("Maestro"))
            {
<form method="post" action="~/Home/EditarAlumno">
    <input type="hidden" asp-for="Alumno.Id" />
    <input id="txtdisplay" type="text" asp-for="Maestro.Nombre" readonly hidden />
    <input id="txtdisplay" type="number" asp-for="Maestro.NumControl" readonly hidden />
    <br />
    <label id="labels">Número de control:</label>
    <input id="txtdisplay" type="text" asp-for="Alumno.NumControl" required readonly />
    <br />
    <label id="editar">Nombre completo:</label>
    <input type="text" asp-for="Alumno.Nombre" required />
    <br />
    @Html.ValidationSummary()
    <input type="submit" value="Modificar" />
    <a href="~/Home/ListaDeAlumnos/@(int.Parse(User.Claims.FirstOrDefault(x=>x.Type=="Id").Value))">Cancelar</a>
</form>}
    </section>
</main>