<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="~/Sylus.css" type="text/css" />
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <title>Act2. Roles de usuario</title>
</head>
<body>
    <header>
        <h1>Control De Usuarios</h1>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        <p>
            UNIDAD 4- PROGRAMACIÓN WEB, PROYECTO ELABORADO POR LUIS ANTONIO AGUILAR GARZA
        </p>
    </footer>
</body>
</html>